:root {
  --primary-color: rgb(0, 136, 221);
  --primary-color-lite: rgb(0, 136, 221, 0.8);
  --text-gray-dark: rgb(107 114 128);
  --text-gray-mid: rgb(156 163 175);
  --text-gray-lite: rgb(209 213 219);
  --text-dark-dark: rgb(17 24 39);
  --text-dark-mid: rgb(31 41 55);
  --text-dark-lite: rgb(55 65 81);
  --text-lite-white: #fff;
  --border-gray-lite: rgb(209 213 219);
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  width: 24%;
}

/* feature card */
.featureCard {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem 1rem;
  margin-bottom: 1rem;

  border-radius: 8px;
  border: 1px solid var(--border-gray-lite);
}

.featureCardTextContainer {

  /* background-color: red; */
}

.featureCardTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  /* margin-bottom: 0.5rem; */
}

.featureCardTextContainer h3 {
  color: var(--text-dark-mid);
}

.featureCardTextContainer p {
  color: var(--text-gray-mid);
}

.featureCardIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: var(--primary-color);
  font-size: 2.6rem;
  /* background-color: blanchedalmond; */
}