:root {
  --primary-color: rgb(0, 136, 221);
  --primary-color-lite: rgb(0, 136, 221, 0.8);
  --text-gray-dark: rgb(107 114 128);
  --text-gray-mid: rgb(156 163 175);
  --text-gray-lite: rgb(209 213 219);
  --text-dark-dark: rgb(17 24 39);
  --text-dark-mid: rgb(31 41 55);
  --text-dark-lite: rgb(55 65 81);
  --text-lite-white: #fff;
  --border-gray-lite: rgb(209 213 219);
  --bg-card-primary: #eff9ff;
}

.heroSection {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* categories component */
.heroCategories {
  width: 24%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-gray-lite);
  border-radius: 4px;
  /* padding: 1rem; */
}

.category {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: var(--text-dark-mid);
  font-weight: 600;
  border-bottom: 1px solid var(--border-gray-lite);
}

.category:hover {
  cursor: pointer;
  background-color: #e9f6ff;
  color: var(--primary-color);
}

.category:last-child {
  border-bottom: none;
}

.category p {
  /* padding: 1rem; */
}

.categorySelected {
  background-color: #e9f6ff;
  color: var(--primary-color);
}

/* Banner Component  */
.heroBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  /* max-height: fit-content; */
  width: 74%;
  background-color: var(--bg-card-primary);
}

.heroText h1,
.heroText h3,
.heroText div {
  margin-bottom: 1rem;
}

.heroText {
  width: 40%;
  /* max-height: inherit; */
  margin-left: 4rem;
  /* height: 90%; */
  /* background-color: red; */
}

.heroText h1 {
  font-size: 2.8rem;
  color: var(--text-dark-mid);
}

.heroText h3 span {
  font-size: 1.8rem;
}

.heroText div {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-weight: 600;
  color: var(--text-lite-white);
  background-color: var(--primary-color);
}

.heroText div:hover {
  cursor: pointer;
  background-color: var(--primary-color-lite);
}

.heroImgContainer {
  /* width: 55%; */
  flex: 1;
  display: flex;
  align-items: end;
  height: 100%;
  margin-right: 1rem;
  /* background-color: red; */
}

.heroImgContainer img {
  /* padding: 0 1rem; */
  min-width: 100%;
}